# BARS.Education Client Environment Configuration Example
BARS_BASE_URL=your_url_of_BARS
SSUZ_SESSIONID=your_ssuz_sessionid_cookie_here
CSRFTOKEN=your_csrftoken_cookie_here

# BARS Filters Configuration
# BARS_PERIOD_ID - id of current campaign. Can be empty
BARS_PERIOD_ID=41
BARS_LIMIT=25
BARS_START=0
