# FIS GIA Server Environment Configuration Example. Use port 8383 for test server, or change it to 8080 in production
FIS_BASE_URL=http://10.0.3.1:8080

# Server Authorization Tokens
ACCESS_TOKEN=your_access_token_here
REFRESH_TOKEN=your_refresh_token_here

# Default FIS GIA Campaign and Institution Identifiers
FIS_INSTITUTION_ID=1111
FIS_CAMPAIGN_ID=11111
