# FIS GIA Integration Environment Configuration (Example)
# NOTICE: you should have 2 .env files:
# - dev.env for dev
# - prod.env for production
# .env.example is just a template

APP_ENV=dev

# FIS GIA Server Base URL (:8383 for dev server, :8080 for production server)
FIS_BASE_URL=http://10.0.3.1:8383

# Server Authorization Tokens
ACCESS_TOKEN=
REFRESH_TOKEN=

# Default FIS GIA Campaign and Institution Identifiers
FIS_INSTITUTION_ID=
FIS_CAMPAIGN_ID=

# Registration Date (dd.mm.yyyy) - can be any date, for example date of running script
REGISTRATION_DATE=07.08.2026

# Application ID Auto-Increment Counter Settings. Choose free INT id
ID_START=294
ID_SUFFIX=-26
